
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/folio-env-app-config.json
.ebextensions/bucket-secrets.config

# Local environment variables
.env

