container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true

  02_create_superuser_for_django_admin:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py create_superuser"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: folio_aws.settings