{% extends "generic/base.html" %}
{% load static %}

{% block bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'generic/base.css' %}">

{% endblock %}

{% block page_name %}
    <h1>CONTACT</h1>
{% endblock %}

{% block page_content %}

    <h2>e-mail</h2>
    <h4 class="text-muted" value="liamegancontact@gmail.com" id="email">liamegancontact@gmail.com
    </h4>
    <button style = "padding: 0; background-color: transparent; border: none; outline: none;" onclick="copy_email()">
        <a class="button blue">
            <div class="bottom"></div>
            <div class="top">
                <div class="label">Copy E-Mail</div>
                <div class="button-border button-border-left"></div>
                <div class="button-border button-border-top"></div><div class="button-border button-border-right"></div><div class="button-border button-border-bottom"></div>
            </div>
        </a>


    </button>
    <h2>GitHub</h2>
    <h4 class="text-muted" value="liamegancontact@gmail.com" id="git">http://github.com/EazyEgan/
    </h4>
    <a href = "http://github.com/EazyEgan/" class="button blue">
        <div class="bottom"></div>
        <div class="top">
            <div class="label">Visit GitHub</div>
            <div class="button-border button-border-left"></div>
            <div class="button-border button-border-top"></div>
            <div class="button-border button-border-right"></div>
            <div class="button-border button-border-bottom"></div>
        </div>
    </a>



    <br style="clear:both;"/>
    <script>
        function copy_email() {
            /* Get the text field */
            var copyText = document.getElementById("myInput");

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */

            /* Copy the text inside the text field */
            navigator.clipboard.writeText(copyText.value);

            /* Alert the copied text */
            alert("Copied the text: " + copyText.value);
        }

    </script>
{% endblock %}