<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {%  load static %}

    {% block title %}{% endblock %}

    {% block bootstrap_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" >
    {% endblock %}
{%  block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'generic/base.css' %}">
{%  endblock %}
    <link rel="shortcut icon" href="{% static 'generic/images/favicon.ico' %}" />
</head>

<body>
{% block navbar %}
<nav class="navbar navbar-expand-md ">
    <a href="{% url 'basic:home_index' %}" class="navbar-brand">

        <img src="{% static 'generic/images/LiamEganNewLogo.png' %}" width="700" alt="" class="d-inline-block align-middle mr-2">
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href= "{% url 'basic:home_index' %}" class="button neon">
                <div class="bottom"></div>
                <div class="top">
                    <div class="label">Home</div>
                    <div class="button-border button-border-left"></div>
                    <div class="button-border button-border-top"></div>
                    <div class="button-border button-border-right"></div>
                    <div class="button-border button-border-bottom"></div>
                </div>
            </a>
        </li>

        <li class="nav-item">
        <li class ="dropdown">
            <a href= "{% url 'projects:project_index' %}" class="button neon">
                <div class="bottom"></div>
                <div class="top">
                    <div class="label">Projects</div>
                    <div class="button-border button-border-left"></div>
                    <div class="button-border button-border-top"></div>
                    <div class="button-border button-border-right"></div>
                    <div class="button-border button-border-bottom"></div>
                </div>
            </a>

            <form action="{% url 'projects:project_index' %}" method="GET">
                {% csrf_token %}

                <div class="dropdown-content">
                    <!-- {.% for lang in language_list %.} -->
                    <button style = "padding: 0; background-color: transparent; border: none; outline: none;" type="submit" name="lang" value="Python" id="Python"  >
                        <a href= "{% url 'projects:project_index' %}" class="button mono" >
                            <div class="bottom"></div>
                            <div class="top">
                                <div class="label">Python</div>
                                <div class="button-border button-border-left"></div>
                                <div class="button-border button-border-top"></div>
                                <div class="button-border button-border-right"></div>
                                <div class="button-border button-border-bottom"></div>
                            </div>
                        </a>
                    </button>

                    <button style = "padding: 0; background-color: transparent; border: none; outline: none; z-index: 2" type="submit" name="lang" value="Java" id="Java" >
                        <a href= "{% url 'projects:project_index' %}" class="button mono" >
                            <div class="bottom"></div>
                            <div class="top">
                                <div class="label">Java</div>
                                <div class="button-border button-border-left"></div>
                                <div class="button-border button-border-top"></div>
                                <div class="button-border button-border-right"></div>
                                <div class="button-border button-border-bottom"></div>
                            </div>
                        </a>
                    </button>
                    <button style = "padding: 0; background-color: transparent; border: none; outline: none; z-index: 2" type="submit"  name="lang" value="JavaScript" id="JavaScript" >
                        <a href= "{% url 'projects:project_index' %}" class="button mono">
                            <div class="bottom"></div>
                            <div class="top">
                                <div class="label">JavaScript</div>
                                <div class="button-border button-border-left"></div>
                                <div class="button-border button-border-top"></div>
                                <div class="button-border button-border-right"></div>
                                <div class="button-border button-border-bottom"></div>
                            </div>
                        </a>
                    </button>

                    <button style = "padding: 0; background-color: transparent; border: none; outline: none; z-index: 2" type="submit"  name="lang" value="Dart" id="Dart" >
                        <a href= "{% url 'projects:project_index' %}" class="button mono">
                            <div class="bottom"></div>
                            <div class="top">
                                <div class="label">Dart</div>
                                <div class="button-border button-border-left"></div>
                                <div class="button-border button-border-top"></div>
                                <div class="button-border button-border-right"></div>
                                <div class="button-border button-border-bottom"></div>
                            </div>
                        </a>
                    </button>

                    <button style = "padding: 0; background-color: transparent; border: none; outline: none; z-index: 2" type="submit"  name="lang" value="Vue" id="Vue" >
                        <a href= "{% url 'projects:project_index' %}" class="button mono">
                            <div class="bottom"></div>
                            <div class="top">
                                <div class="label">Vue</div>
                                <div class="button-border button-border-left"></div>
                                <div class="button-border button-border-top"></div>
                                <div class="button-border button-border-right"></div>
                                <div class="button-border button-border-bottom"></div>
                            </div>
                        </a>
                    </button>

                    <button style = "padding: 0; background-color: transparent; border: none; outline: none; z-index: 2" type="submit"  name="lang" value="HTML" id="HTML" >
                        <a href= "{% url 'projects:project_index' %}" class="button mono">
                            <div class="bottom"></div>
                            <div class="top">
                                <div class="label">HTML</div>
                                <div class="button-border button-border-left"></div>
                                <div class="button-border button-border-top"></div>
                                <div class="button-border button-border-right"></div>
                                <div class="button-border button-border-bottom"></div>
                            </div>
                        </a>
                    </button>

                    <button style = "padding: 0; background-color: transparent; border: none; outline: none; z-index: 2" type="submit"  name="lang" value="CSS" id="CSS" >
                        <a href= "{% url 'projects:project_index' %}" class="button mono">
                            <div class="bottom"></div>
                            <div class="top">
                                <div class="label">CSS</div>
                                <div class="button-border button-border-left"></div>
                                <div class="button-border button-border-top"></div>
                                <div class="button-border button-border-right"></div>
                                <div class="button-border button-border-bottom"></div>
                            </div>
                        </a>
                    </button>

                    <!--<a href= "{% url 'projects:project_index' %}" class="button neon">
                            <div class="bottom"></div>
                            <div class="top">
                                <div class="label">{{ db_list_of_langs }}</div>
                                <div class="button-border button-border-left"></div>
                                <div class="button-border button-border-top"></div>
                                <div class="button-border button-border-right"></div>
                                <div class="button-border button-border-bottom"></div>
                            </div>
                            </a> -->

                </div>

            </form>

        </li>
        </li>
        <li class="nav-item">
            <a href= "{% url 'basic:contact_index' %}" class="button neon" style="position:relative;">
                <div class="bottom"></div>
                <div class="top">
                    <div class="label">Contact</div>
                    <div class="button-border button-border-left"></div>
                    <div class="button-border button-border-top"></div>
                    <div class="button-border button-border-right"></div>
                    <div class="button-border button-border-bottom"></div>
                </div>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}

<div id = "backingbox">
    {% block page_name %}
    {% endblock %}
</div>
<div id = "backingbox">
    {% block page_content %}
    {% endblock %}
</div>

{% block bootstrap_js %}
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock %}

</body>
</html>