<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {%  load static %}

    {% block title %}{% endblock %}

    {% block bootstrap_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" >
    {% endblock %}
{%  block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'generic/base.css' %}">
{%  endblock %}
    <link rel="shortcut icon" href="{% static 'generic/images/favicon.ico' %}" />
</head>

<body>
{% block navbar %}
    {% include 'basic/navbar.html' %}
{% endblock %}

{% block page_name_div %}
<div id = "backingbox">
{% endblock %}

    {% block page_name %}
    {% endblock %}
</div>


{% block content_div %}
<div id = "backingbox">
{% endblock %}

    {% block page_content %}
    {% endblock %}

</div>

{% block bootstrap_js %}
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock %}

</body>
</html>