{% extends "generic/base.html" %}
{% load static %}

{% block bootstrap_css %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'generic/base.css' %}">

{% endblock %}

{% block page_name %}
    <h1>HOME</h1>
{% endblock %}

{% block page_content %}

    <div style="column-count: 2;">
        {% for summary_section in summary_list %}
            <div id="ensure_heading_with_content">
                <h2>{{ summary_section.heading }}</h2>
                <p class="bodytext">
                    {{ summary_section.content }}
                </p>
            </div>
        {% endfor %}
    </div>
    <br style="clear:both;"/>

{% endblock %}