{% extends "generic/base.html" %}

{% block title %} Login {% endblock %}

{% block navbar %}
{% endblock %}

{% block page_name_div %}
<div id = "backingbox" style = "max-width: 300px; margin: 0 auto;">
{% endblock %}

{% block page_name %}
    <h1>LOG IN</h1>
{% endblock %}

{% block content_div %}
<div id = "backingbox" style = "max-width: 300px; margin: 0 auto;">
{% endblock %}

{% block page_content %}


    <form id="login_form" class="form" role="form" method="POST">
        {% csrf_token %}
        <div class="form-column" style="padding-bottom: 10px">
            {{ form.username.errors }}
            <p class="bodytext" id="username_input_field">Username: </p>
            <div>{{ form.username }}
            </div>
        </div>
        <div class="form-column" style="padding-bottom: 20px">
            {{ form.password.errors }}
            <p class="bodytext" id="password_input_field">Password: </p>
            <div style="position:relative">{{ form.password }}</div>
            <input type="hidden" name="next" value="{{ next }}">
        </div>
        <div class="submit-row" style="padding-bottom: 70px">
            <a href="#"
               onclick="document.getElementById('login_form').submit()"
               class="button blue">
                <div class="bottom"></div>
                <div class="top">
                    <div class="label">Log in</div>
                    <div class="button-border button-border-left"></div>
                    <div class="button-border button-border-top"></div>
                    <div class="button-border button-border-right"></div>
                    <div class="button-border button-border-bottom"></div>
                </div>
            </a>
        </div>
    </form>


{% endblock %}