li a {
    color: green;
}
body {

    background:repeating-linear-gradient(0deg, transparent, transparent 1px, #110e23 1px, #110e23 40px),
      repeating-linear-gradient(-90deg, transparent, transparent 1px, #110e23 1px, #110e23 40px),
               linear-gradient(315deg, #110e23, #d9eae6, #110e23, #d9eae6, #110e23, #d9eae6, #110e23, #d9eae6, #110e23, #d9eae6);

    background-size: 10px 10px, 10px 10px, 1200% 1200%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 0%, 0% 0%, 13% 0%}
    50%{background-position:0% 0%, 0% 0%, 88% 100%}
    100%{background-position:0% 0%, 0% 0%, 13% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 0%, 0% 0%, 13% 0%}
    50%{background-position:0% 0%, 0% 0%, 88% 100%}
    100%{background-position:0% 0%, 0% 0%, 13% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 0%, 0% 0%, 13% 0%}
    50%{background-position:0% 0%, 0% 0%, 88% 100%}
    100%{background-position:0% 0%, 0% 0%, 13% 0%}
}
@keyframes AnimationName {
    0%{background-position:0% 0%, 0% 0%, 13% 0%}
    50%{background-position:0% 0%, 0% 0%, 88% 100%}
    100%{background-position:0% 0%, 0% 0%, 13% 0%}
}