{% extends "generic/base.html" %}
{% load static %}

{% block bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'generic/base.css' %}">

{% endblock %}

{% block page_name %}
    <h1><a href="{% url 'projects:project_index'%}" style = "color:#212529;">PROJECTS</a> > {{ project.title }}</h1>
{% endblock %}

{% block page_content %}

    <div class="row">
        <div class="col-md-8">
            <img src="{% static project.image %}" alt="" width="100%">
        </div>
        <div class="col-md-4">
            <h5>About the project:</h5>
            <p>{{ project.description }}</p>
            <br>
            <h5>Technology used:</h5>
            <p>{{ project.project_languages }}</p>
            <br>
            <div>
                <a href= "{{ project.repo }}" target="_blank" rel="noopener noreferrer"
                   class="button green">
                    <div class="bottom"></div>
                    <div class="top">
                        <div class="label">Code</div>
                        <div class="button-border button-border-left"></div>
                        <div class="button-border button-border-top"></div>
                        <div class="button-border button-border-right"></div>
                        <div class="button-border button-border-bottom"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

{% endblock %}